@font-face {
    font-family: 'DINPro';
    src: url('../resources/fonts/DINPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Light';
    src: url('../resources/fonts/DINPRO-LIGHT.OTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('../resources/fonts/DINPRO-BOLD.OTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Cond';
    src: url('../resources/fonts/DINPro-Cond.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../resources/fonts/DINPRO-MEDIUM.OTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-CondBold';
    src: url('../resources/fonts/DINPro-CondBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-CondLight';
    src: url('../resources/fonts/DINPro-CondLight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-CondBlack';
    src: url('../resources/fonts/DINPro-CondBlack.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINnextLTPro-Regular';
    src: url('../resources/fonts/DINNextLTPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINnextLTPro-Medium';
    src: url('../resources/fonts/DINNextLTPro-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINnextLTPro-Condensed';
    src: url('../resources/fonts/DINNextLTPro-Condensed.otf');
    font-weight: normal;
    font-style: normal;
}

