$color_1 : #666;
$color_2 : #FFF;
$color_3 : #9E9D9D;
$color_4 : #000;
$color_5 : #E65100;
$color_6 : #EEEEEE;
$color_7 : #78AB46; 
$color_8 : #161414;
$color_9 : #9E9E9E;
$color_10 : #F5F5F5;
$color_11 : #E0E0E0;

$one_side_width : 380dip; //splitting the big container in two 


$font_3 : 'DINPro';
$font_4 : 'DINPro-Light';
$font_9 : 'DINPro-Bold';
$font_11 : 'DINPro-Medium';
$font_1 : 'DINPro-Cond';
$font_8 : 'DINPro-CondLight';
$font_2 : 'DINPro-CondBold';
$font_6 : 'DINPro-CondBlack';

$font_5 : 'DINnextLTPro-Regular';
$font_7 : 'DINnextLTPro-Medium';
$font_10 : 'DINnextLTPro-Condensed';


$image_background_playing_song : url('../resources/imgs/Beat-Bars.png');
$image_backgrount_bottom : url('../resources/imgs/Waves.png');
$sorry_image : url('../resources/imgs/SadPunkFace.svg');
$back_button_normal : url('../resources/imgs/back.png');
$back_button_hover : url('../resources/imgs/back_hover.png');

$image_demo_cover_playing_song : url('../resources/imgs/covers/maiden/matter_life_death_maiden.jpg');
$image_demo_cover_voted_song : url('../resources/imgs/artists/aretha_respect.jpg');